<header class="cabecalho">
    <img class="cabecalho-imagem" src="./img/img_zoo1.png" alt="Zoologico">
    <nav class="cabecalho-menu">
      <a class="cabecalho-menu-item" >Comunidade Zoo</a>
      <a class="cabecalho-menu-item">Tutorial</a>
      <a class="cabecalho-menu-item">Animais</a>
      <a class="cabecalho-menu-item">Ingresso</a>
    </nav>
  </header>
  